<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.edu.uteq.dapps.holamundo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/nombre_app_corto"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HolaMundo">
        <activity
            android:name=".ContenedorFragmentosActivity"
            android:exported="false" />
        <activity
            android:name=".ControlesSeleccionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EstiloBotonesActivity"
            android:exported="false" />
        <activity
            android:name=".EstilosTextoActivity"
            android:exported="false"
            android:label="Estilos de texto Material Design" />
        <!--
        android:windowSoftInputMode="adjustResize"
        Permite usar el Scroll aún con el teclado
        activo
        -->
        <activity
            android:name=".ControlesEntradaActivity"
            android:exported="false"
            android:label="Controles de entrada"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TableLayoutActivity"
            android:exported="false"
            android:label="Table Layout" />
        <activity
            android:name=".ScrollActivity"
            android:exported="false"
            android:label="Ejemplo Scroll" />
        <activity
            android:name=".LinearLayoutActivity"
            android:exported="false"
            android:label="Linear Layout" />
        <!--
        Solo un Activity debería tener el intent-filter
        Launcher

        El estilo NoActionBar elimina el actionBar (barra superior)
        del screen
        -->
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:label="Menu"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

            <!--
            Intentfilter y Launcher indican que
            esta es la Pantalla inicial de la app
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        Un activity es la representación de una pantalla
        de la aplicación móvil, un Activity está compuesto por
        dos elementos
        1.- Clase Java/Kotlin (Controlador) Activity
        2.- Archivo XML (Vista/View) Layout

        El punto antes del nomnbre significa que es una
        clase Java/Kotlin
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Main" />
    </application>

</manifest>